<!--<h1>Welcome to the Hair Salon</h1>

<div class="container">
  <a href="/stylists">View All Stylists</a>
  <a href="/lists/new">Add New Stylists</a>
</div>
-->
<h1 align="center">Hair Salon Management App</h1>
 <div class ="container">
  <a href="/stylists"><p style="text-align:center">List of Stylists</a>
 </div>
